<h1>Editing evaluator</h1>

<%= render "form", evaluator: @evaluator %>

<br>

<div>
  <%= link_to "Show this evaluator", @evaluator %> |
  <%= link_to "Back to evaluators", evaluators_path %>
</div>
