<h1>Editing evaluated</h1>

<%= render "form", evaluated: @evaluated %>

<br>

<div>
  <%= link_to "Show this evaluated", @evaluated %> |
  <%= link_to "Back to evaluateds", evaluateds_path %>
</div>
