<div id="<%= dom_id evaluator_instrument %>">
  <p>
    <strong>Evaluator:</strong>
    <%= evaluator_instrument.evaluator_id %>
  </p>

  <p>
    <strong>Instrument:</strong>
    <%= evaluator_instrument.instrument_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= evaluator_instrument.date %>
  </p>

</div>
