<h1>Editing evaluator instrument</h1>

<%= render "form", evaluator_instrument: @evaluator_instrument %>

<br>

<div>
  <%= link_to "Show this evaluator instrument", @evaluator_instrument %> |
  <%= link_to "Back to evaluator instruments", evaluator_instruments_path %>
</div>
